.app-layout{
	min-height: 100vh;
}

.app-header{
	background-color: $color-blue-hover;
	//background-color: $color-blue;
	height: 4em;
}

.header-logo{
	font-size: 1.4em;
	font-weight: bold;
	padding: 0 .5em;
	color: $color-bg-body;
}

.frm-request{
	margin: 1em;
}

.frm-request-url{
	flex: 1;
	margin: 0 1em;
}

.frm-request-submit{
	svg{
		display: block;
		margin-left: 3px;
	}
}