body{
	font-family: $font-regular;
	font-size: 16px;
	line-height: 1.5;
	color: $color-font;
	background-color: $color-bg-body;
}

a,
button{
	cursor: pointer;
}

h1{
	@extend %no-select;
}

.link{
	transition: color 350ms ease;
	color: $color-link;

	&:hover{
		text-decoration: none;
		color: $color-link-hover;
	}
}